
.header {
  margin-bottom: 1rem;
}

.header--with-border {
  border-bottom: 1px solid $grey-500;
}

.header--justified-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

