.main-content {
  margin-left: calc(min(20%, 300px) + 50px);
  margin-right: 50px;
}

.width-50 {
  width: 50%;
}

.mb-2 {
  margin-bottom: 2rem;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
