// Colors

$primary-100: #C6CFF4;
$primary-200: #99ACF2;
$primary-300: #6B87EF;
$primary-400: #5073F7;
$primary-500: #3660FF;
$primary-600: #2853F7;
$primary-700: #2247D5;
$primary-800: #13319F;
$primary-900: #081854;

$grey-100: #FCFCFC;
$grey-200: #F8F8F9;
$grey-300: #F2F3F4;
$grey-400: #E9EAEF;
$grey-500: #D1D4E0;
$grey-600: #9CA0AF;
$grey-700: #7A7D8B;
$grey-800: #555862;
$grey-900: #2A2C36;

$success-100: #DEF4ED;
$success-200: #BAE6D8;
$success-300: #8DD8C0;
$success-400: #72D3B3;
$success-500: #36C697;
$success-600: #25B485;
$success-700: #179B70;
$success-800: #14835F;
$success-900: #1B5C47;

$warning-100: #FFF3DF;
$warning-200: #FFD58E;
$warning-300: #FAC873;
$warning-400: #F6C064;
$warning-500: #FFB73E;
$warning-600: #FB9E02;
$warning-700: #EA9608;
$warning-800: #D38B13;
$warning-900: #B57813;

$danger-100: #F7DADA;
$danger-200: #F39C9C;
$danger-300: #F47171;
$danger-400: #F86F6F;
$danger-500: #FF5D5D;
$danger-600: #F73F3F;
$danger-700: #E91414;
$danger-800: #BF1111;
$danger-900: #830F0F;
